<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uic.sarthak_marathe.music_audio_server">

    <permission android:name="com.uic.sarthak_marathe.music_audio_server.PLAYER_ID">
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.uic.sarthak_marathe.music_audio_server.Music_Player"
            android:enabled="true"
            android:exported="true"
            android:permission="com.uic.sarthak_marathe.music_audio_server.PLAYER_ID">
            <intent-filter>
                <action android:name="com.uic.sarthak_marathe.audioplayer_common.AudioPlayerControls"/>
            </intent-filter>
        </service>
    </application>

</manifest>